body {
  background-color: black;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  width: 200px;
  height: 200px;
}

.btn {
  outline: none;
  margin: 16x 0;
  background-color: tomato;
  font-size: 32px;
  color: white;
  cursor: pointer;
}
